<script>
    function ToLogin() {
        $(location).attr("href", "/Home/login");
    }
</script>
<div data-role="countdown" data-seconds="5" data-on-alarm="ToLogin()"></div>


<div class="fg-blue">this is demo</div>


